h1 {
  margin-bottom: 1rem;
  text-align: center;
}

form {
  margin-bottom: 2rem;
  text-align: center;
}

#random-book {
  padding: 3rem;
  margin-top: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
  background-color: white;
}

.book-author {
  margin-bottom: 10px;
  color: #747d8c;
}

#random-book img {
  float: left;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
}

.loading-container {
  display: flex;
  justify-content: center;
}
