* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Source Sans Pro', sans-serif; */
  background-color: #dfe4ea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 50%;
  margin: 5rem auto;
  padding: 2rem;
}

select {
  padding: 0.4rem;
}

input[type="submit"] {
  background-color: #28a745;
  border: none;
  font-size: 1rem;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 0.25rem;
  margin-left: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: darkgreen;
}

.underline {
  text-decoration: underline;
}
